<div style="width: 100%; height: 100%">

    <div *ngIf="loggedIn" class="flex-column">
        <button type="button" class="btn btn-danger" (click)="duel()">
            Duel...
        </button>
        <button type="button" class="btn btn-primary" (click)="duel()">
            Trade...
        </button>
        <button type="button" class="btn btn-primary" (click)="duel()">
            Trade...
        </button>
        <div class="notifications">

        </div>
    </div>
    <div *ngIf="!loggedIn">
        <input type="text" [(ngModel)]="passphrase">
        <button type="button" class="btn btn-primary" (click)="login()">
            AbracaLOGIN
        </button>
        <ngb-alert type="danger" *ngIf="loginFailed">Alert</ngb-alert>
    </div>
</div>