<div style="height: 100%;" class="flex-column">
  <app-stats [playerId]="playerId"></app-stats>
  <div class="flex-column" style="width: 200px; left:50%; right:0;">
    <button type="button" class="btn btn-primary" (click)="trade()">
      Trade 💱
    </button>
    <button type="button" class="btn btn-primary" (click)="craft()">
      Craft 🔨
    </button>
    <button type="button" class="btn btn-danger" (click)="duel()">
      Duel ⚔
    </button>
  </div>
  <div class="notifications flex-column border align-bottom" *ngIf="notifications.length>0" style="width: 200px">
    <ngb-alert type="info" [dismissible]="false" *ngFor="let alert of notifications">{{alert.text}}</ngb-alert>
  </div>
</div>