/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/dist/css/bootstrap.css";

div, router-outlet, h4{
    margin-left:auto;
    margin-right: auto;
    align-self: center;
    align-content: center;
    display: flex;
    box-sizing: border-box;
}
@keyframes splooshIn{
    0% {
        transform:scale(1.2);
        opacity: 0;
    }
    100% {
        transform:scale(1);
        opacity:1;
    }
}
button{
    margin: 0.5em;
    animation: splooshIn 120ms ease-in-out;

}
.alert:last-child{
    margin-bottom: 0;
}
