<div *ngIf="!target">
  <h4>
    Duel...
  </h4>
  <div style="overflow-y: scroll; height: 90%">
    <app-playerlist (selectedPlayer)="selectTarget($event)" style="width: 100%" [(players)]="availableDuelists">
    </app-playerlist>
  </div>
</div>
<div *ngIf="target" class="flex-column">
  <label for="duelDesc">What kind of duel?</label>
  <input type="text" [placeholder]="randomPlaceholder" [(ngModel)]="description">
  <div class="flex-column">

    <h3>Wager your...</h3>
    <app-inventory [(player)]="thisPlayer">

    </app-inventory>
    <h3>For their...</h3>
    <app-inventory [(player)]="target">

    </app-inventory>
  </div>
</div>
<div *ngIf="referee" style="height: 100%">
  <h4>
    Select a witness
  </h4>
  <div style="overflow-y: scroll">
    <app-playerlist (selectedPlayer)="selectRef($event)" [(players)]="availableRefs">

    </app-playerlist>
  </div>
</div>